project/plots/epoch_1.png
project/plots/epoch_2.png
project/plots/epoch_3.png
project/plots/epoch_4.png
project/plots/epoch_5.png
project/plots/epoch_6.png
project/plots/epoch_7.png
project/plots/epoch_8.png
project/plots/epoch_9.png
project/plots/epoch_10.png
project/plots/epoch_11.png
project/plots/epoch_12.png
project/plots/epoch_13.png
project/plots/epoch_14.png
project/plots/epoch_15.png
project/plots/epoch_16.png
project/plots/epoch_17.png
project/plots/epoch_18.png
project/plots/epoch_19.png
project/plots/epoch_20.png
project/plots/epoch_21.png
project/plots/epoch_22.png
project/plots/epoch_23.png
project/plots/epoch_24.png
project/plots/epoch_25.png
project/plots/epoch_26.png
project/plots/epoch_27.png
project/plots/epoch_28.png
project/plots/epoch_29.png
project/plots/epoch_30.png
project/plots/epoch_31.png
project/plots/epoch_32.png
project/plots/epoch_33.png
project/plots/epoch_34.png
project/plots/epoch_35.png
project/plots/epoch_36.png
project/plots/epoch_37.png
project/plots/epoch_38.png
project/plots/epoch_39.png
project/plots/epoch_40.png
project/plots/epoch_41.png
project/plots/epoch_42.png
project/plots/epoch_43.png
project/plots/epoch_44.png
project/plots/epoch_45.png
project/plots/epoch_46.png
project/plots/epoch_47.png
project/plots/epoch_48.png
project/plots/epoch_49.png
project/plots/epoch_50.png
project/plots/epoch_51.png
project/plots/epoch_52.png
project/plots/epoch_53.png
project/plots/epoch_54.png
project/plots/epoch_55.png
project/plots/epoch_56.png
project/plots/epoch_57.png
project/plots/epoch_58.png
project/plots/epoch_59.png
project/plots/epoch_60.png
project/plots/epoch_61.png
project/plots/epoch_62.png
project/plots/epoch_63.png
project/plots/epoch_64.png
project/plots/epoch_65.png
project/plots/epoch_66.png
project/plots/epoch_67.png
project/plots/epoch_68.png
project/plots/epoch_69.png
project/plots/epoch_70.png
project/plots/epoch_71.png
project/plots/epoch_72.png
project/plots/epoch_73.png
project/plots/epoch_74.png
project/plots/epoch_75.png
project/plots/epoch_76.png
project/plots/epoch_77.png
project/plots/epoch_78.png
project/plots/epoch_79.png
project/plots/epoch_80.png
project/plots/epoch_81.png
project/plots/epoch_82.png
project/plots/epoch_83.png
project/plots/epoch_84.png
project/plots/epoch_85.png
project/plots/epoch_86.png
project/plots/epoch_87.png
project/plots/epoch_88.png
project/plots/epoch_89.png
project/plots/epoch_90.png
project/plots/epoch_91.png
project/plots/epoch_92.png
project/plots/epoch_93.png
project/plots/epoch_94.png
project/plots/epoch_95.png
project/plots/epoch_96.png
project/plots/epoch_97.png
project/plots/epoch_98.png
project/plots/epoch_99.png
project/plots/epoch_100.png
project/plots/epoch_101.png
project/plots/epoch_102.png
project/plots/epoch_103.png
project/plots/epoch_104.png
project/plots/epoch_105.png
project/plots/epoch_106.png
project/plots/epoch_107.png
project/plots/epoch_108.png
project/plots/epoch_109.png
project/plots/epoch_110.png
project/plots/epoch_111.png
project/plots/epoch_112.png
project/plots/epoch_113.png
project/plots/epoch_114.png
project/plots/epoch_115.png
project/plots/epoch_116.png
project/plots/epoch_117.png
project/plots/epoch_118.png
project/plots/epoch_119.png
project/plots/epoch_120.png
project/plots/epoch_121.png
project/plots/epoch_122.png
project/plots/epoch_123.png
project/plots/epoch_124.png
project/plots/epoch_125.png
project/plots/epoch_126.png
project/plots/epoch_127.png
project/plots/epoch_128.png
project/plots/epoch_129.png
project/plots/epoch_130.png
project/plots/epoch_131.png
project/plots/epoch_132.png
project/plots/epoch_133.png
project/plots/epoch_134.png
project/plots/epoch_135.png
project/plots/epoch_136.png
project/plots/epoch_137.png
project/plots/epoch_138.png
project/plots/epoch_139.png
project/plots/epoch_140.png
project/plots/epoch_141.png
project/plots/epoch_142.png
project/plots/epoch_143.png
project/plots/epoch_144.png
project/plots/epoch_145.png
project/plots/epoch_146.png
project/plots/epoch_147.png
project/plots/epoch_148.png
project/plots/epoch_149.png
project/plots/epoch_150.png
project/plots/epoch_151.png
project/plots/epoch_152.png
project/plots/epoch_153.png
project/plots/epoch_154.png
project/plots/epoch_155.png
project/plots/epoch_156.png
project/plots/epoch_157.png
project/plots/epoch_158.png
project/plots/epoch_159.png
project/plots/epoch_160.png
project/plots/epoch_161.png
project/plots/epoch_162.png
project/plots/epoch_163.png
project/plots/epoch_164.png
project/plots/epoch_165.png
project/plots/epoch_166.png
project/plots/epoch_167.png
project/plots/epoch_168.png
project/plots/epoch_169.png
project/plots/epoch_170.png
project/plots/epoch_171.png
project/plots/epoch_172.png
project/plots/epoch_173.png
project/plots/epoch_174.png
project/plots/epoch_175.png
project/plots/epoch_176.png
project/plots/epoch_177.png
project/plots/epoch_178.png
project/plots/epoch_179.png
project/plots/epoch_180.png
project/plots/epoch_181.png
project/plots/epoch_182.png
project/plots/epoch_183.png
project/plots/epoch_184.png
project/plots/epoch_185.png
project/plots/epoch_186.png
project/plots/epoch_187.png
project/plots/epoch_188.png
project/plots/epoch_189.png
project/plots/epoch_190.png
project/plots/epoch_191.png
project/plots/epoch_192.png
project/plots/epoch_193.png
project/plots/epoch_194.png
project/plots/epoch_195.png
project/plots/epoch_196.png
project/plots/epoch_197.png
project/plots/epoch_198.png
project/plots/epoch_199.png
project/plots/epoch_200.png
project/000660.csv
project/fdata.csv
plots/epoch_1.png
plots/epoch_2.png
plots/epoch_3.png
plots/epoch_4.png
plots/epoch_5.png
plots/epoch_6.png
plots/epoch_7.png
plots/epoch_8.png
plots/epoch_9.png
plots/epoch_10.png
plots/epoch_11.png
plots/epoch_12.png
plots/epoch_13.png
plots/epoch_14.png
plots/epoch_15.png
plots/epoch_16.png
plots/epoch_17.png
plots/epoch_18.png
plots/epoch_19.png
plots/epoch_20.png
plots/epoch_21.png
plots/epoch_22.png
plots/epoch_23.png
plots/epoch_24.png
plots/epoch_25.png
plots/epoch_26.png
plots/epoch_27.png
plots/epoch_28.png
plots/epoch_29.png
plots/epoch_30.png
plots/epoch_31.png
plots/epoch_32.png
plots/epoch_33.png
plots/epoch_34.png
plots/epoch_35.png
plots/epoch_36.png
plots/epoch_37.png
plots/epoch_38.png
plots/epoch_39.png
plots/epoch_40.png
plots/epoch_41.png
plots/epoch_42.png
plots/epoch_43.png
plots/epoch_44.png
plots/epoch_45.png
plots/epoch_46.png
plots/epoch_47.png
plots/epoch_48.png
plots/epoch_49.png
plots/epoch_50.png
plots/epoch_51.png
plots/epoch_52.png
plots/epoch_53.png
plots/epoch_54.png
plots/epoch_55.png
plots/epoch_56.png
plots/epoch_57.png
plots/epoch_58.png
plots/epoch_59.png
plots/epoch_60.png
plots/epoch_61.png
plots/epoch_62.png
plots/epoch_63.png
plots/epoch_64.png
plots/epoch_65.png
plots/epoch_66.png
plots/epoch_67.png
plots/epoch_68.png
plots/epoch_69.png
plots/epoch_70.png
plots/epoch_71.png
plots/epoch_72.png
plots/epoch_73.png
plots/epoch_74.png
plots/epoch_75.png
plots/epoch_76.png
plots/epoch_77.png
plots/epoch_78.png
plots/epoch_79.png
plots/epoch_80.png
plots/epoch_81.png
plots/epoch_82.png
plots/epoch_83.png
plots/epoch_84.png
plots/epoch_85.png
plots/epoch_86.png
plots/epoch_87.png
plots/epoch_88.png
plots/epoch_89.png
plots/epoch_90.png
plots/epoch_91.png
plots/epoch_92.png
plots/epoch_93.png
plots/epoch_94.png
plots/epoch_95.png
plots/epoch_96.png
plots/epoch_97.png
plots/epoch_98.png
plots/epoch_99.png
plots/epoch_100.png
plots/epoch_101.png
plots/epoch_102.png
plots/epoch_103.png
plots/epoch_104.png
plots/epoch_105.png
plots/epoch_106.png
plots/epoch_107.png
plots/epoch_108.png
plots/epoch_109.png
plots/epoch_110.png
plots/epoch_111.png
plots/epoch_112.png
plots/epoch_113.png
plots/epoch_114.png
plots/epoch_115.png
plots/epoch_116.png
plots/epoch_117.png
plots/epoch_118.png
plots/epoch_119.png
plots/epoch_120.png
plots/epoch_121.png
plots/epoch_122.png
plots/epoch_123.png
plots/epoch_124.png
plots/epoch_125.png
plots/epoch_126.png
plots/epoch_127.png
plots/epoch_128.png
plots/epoch_129.png
plots/epoch_130.png
plots/epoch_131.png
plots/epoch_132.png
plots/epoch_133.png
plots/epoch_134.png
plots/epoch_135.png
plots/epoch_136.png
plots/epoch_137.png
plots/epoch_138.png
plots/epoch_139.png
plots/epoch_140.png
plots/epoch_141.png
plots/epoch_142.png
plots/epoch_143.png
plots/epoch_144.png
plots/epoch_145.png
plots/epoch_146.png
plots/epoch_147.png
plots/epoch_148.png
plots/epoch_149.png
plots/epoch_150.png
plots/epoch_151.png
plots/epoch_152.png
plots/epoch_153.png
plots/epoch_154.png
plots/epoch_155.png
plots/epoch_156.png
plots/epoch_157.png
plots/epoch_158.png
plots/epoch_159.png
plots/epoch_160.png
plots/epoch_161.png
plots/epoch_162.png
plots/epoch_163.png
plots/epoch_164.png
plots/epoch_165.png
plots/epoch_166.png
plots/epoch_167.png
plots/epoch_168.png
plots/epoch_169.png
plots/epoch_170.png
plots/epoch_171.png
plots/epoch_172.png
plots/epoch_173.png
plots/epoch_174.png
plots/epoch_175.png
plots/epoch_176.png
plots/epoch_177.png
plots/epoch_178.png
plots/epoch_179.png
plots/epoch_180.png
plots/epoch_181.png
plots/epoch_182.png
plots/epoch_183.png
plots/epoch_184.png
plots/epoch_185.png
plots/epoch_186.png
plots/epoch_187.png
plots/epoch_188.png
plots/epoch_189.png
plots/epoch_190.png
plots/epoch_191.png
plots/epoch_192.png
plots/epoch_193.png
plots/epoch_194.png
plots/epoch_195.png
plots/epoch_196.png
plots/epoch_197.png
plots/epoch_198.png
plots/epoch_199.png
plots/epoch_200.png
project/predictions animation.gif
